* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

body {
	background-color: #333;
	line-height: 1.6;
}

p {
	font-size: 18px;
	padding: 18px 0;
	text-align: center;
}

#showcase {
	position: relative;
	min-height: 450px;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	 url('/assets/images/pexels-photo-248515.png') no-repeat center/cover;
	display: flex;
	justify-content: center;
}

.content-wrapper {
	text-align: center;
	max-width: 880px;
	padding: 0 26px;
	z-index: 2;
}

h1 {
	font-size: 35px;
	padding-top: 100px;
}

.btn {
  display: inline-block;
  margin: 9px 0;
  padding: 18px 35px;
  border: 1px solid white;
  background-color: #333;
  color: white;
  text-decoration: none;
}

.btn:hover {
	background-color: white;
	color: #333;
}

#section-a {
	background-color: white;
	padding: 0 0 35px;
	display: flex;
	justify-content: center;
}

h2 {
	padding: 26px 0;
	font-size: 26px;
}

.column-text p {
	columns: 2;
	column-gap: 22px;
	max-width: 880px;
}

#section-b {
	padding: 35px 18px;
	display: flex;
	justify-content: center;
}

#section-b ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	list-style: none;
	width: 100%;
}

.card {
	background-color: white;
	width: 300px;
	height: 500px;
}

.card-content {
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-title {
	padding: 20px 0;
	text-align: center;
}

.card img {
	width: 100%;
	object-fit: cover;
	object-position: top;
}

#section-c {
	background-color: white;
	padding: 35px;
	display: flex;
	justify-content: center;
}

#section-d {
	display: flex;
}

.box {
	padding: 35px;
	color: white;
	flex: 1;
	min-width: 50%;
}

.box-1 {
	background-color: rgb(33, 129, 238);
	text-align: center;
}

.box-2 {
	background-color: #333;
	text-align: center;
}

#main-footer {
	padding: 35px;
	background-color: black;
	color: white;
	font-size: 18px;
	display: flex;
	justify-content: space-around;
}

#main-footer div a {
	text-decoration: none;
	color: rgb(33, 129, 238);
}

@media (max-width: 700px) {
	#section-a .column-text p {
		columns: 1;
	}

	#section-b ul {
		flex-direction: column;
		gap: 20px;
	}

	#section-d {
		flex-direction: column;
	}

	#main-footer {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#main-footer div {
		padding: 10px 0;
	}
}
