* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

body {
	background-color: #333;
	line-height: 1.6;
}

.grid {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	min-height: 100px;
}

#showcase {
	position: relative;
	min-height: 450px;
	color: white;
	background: #333 url('/assets/images/pexels-photo-248515.png') no-repeat center/cover;
}

.content-wrapper {
	grid-column: 2 / span 2;
	justify-self: center;
	text-align: center;
	max-width: 880px;
	padding: 0 26px;
	z-index: 2;
}

h1 {
	font-size: 35px;
	padding-top: 100px;
	margin: 0;
}

.header-text {
	font-size: 18px;
	padding: 17px 0;
	margin: 0;
}

.btn {
  display: inline-block;
  margin: 9px 0;
  padding: 18px 35px;
  border: 1px solid white;
  background-color: #333;
  color: white;
  text-decoration: none;
}

#section-a {
	background-color: white;
	padding: 0 0 35px;
}

h2 {
	margin: 0;
	padding: 26px 0;
	text-align: center;
	font-size: 25px;
}

.column-text {
	columns: 2;
	column-width: 100px;
	column-gap: 22px;
	max-width: 880px;
	margin: 0 auto;
}

#section-b {
	padding: 35px 18px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 2fr 2fr 1fr;
}

#section-b > ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	list-style: none;
	width: 100%;
	max-width: 880px;
	grid-column: 2 / span 2;
	justify-self: center;
}

.card {
	background-color: white;
	width: 300px;
	height: 500px;
}

.card-content {
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-title {
	padding: 20px 0;
	width: 220px;
	text-align: center;
}

.card-text {
	padding: 18px 0;
	font-size: 18px;
	text-align: center;
}

.card img {
	width: 100%;
	object-fit: cover;
	object-position: top;
}

#section-c {
	background-color: white;
	padding: 35px;
}

.content-text {
	padding: 18px 0;
	font-size: 18px;
}

#section-d {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(4, 1fr);
}

.box {
	padding: 35px;
	color: white;
}

.box-1 {
	grid-column: span 2;
	background-color: rgb(33, 129, 238);
	text-align: center;
}

.box-2 {
	grid-column: span 2;
	background-color: #333;
	text-align: center;
}

.box h2 {
	width: 100%;
}

.box p {
	font-size: 18px;
	padding: 18px 0;
}