* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
}

body {
	background-color: #333;
	line-height: 1.6;
}

.grid {
	display: grid;
}

#showcase {
	position: relative;
	min-height: 450px;
	color: white;
	background: #333 url('/assets/images/pexels-photo-248515.png') no-repeat center/cover;
	display: flex;
	justify-content: center;
	text-align: center;
}

#showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#showcase p, h1, a{
  position: relative;
  z-index: 2;
}

h1 {
	font-size: 35px;
	padding-top: 100px;
	margin: 0;
}

.content-wrapper {
	max-width: 800px;
	padding: 0 26px;
}

.header-text {
	font-size: 18px;
	padding: 17px 0;
	margin: 0;
}

.btn {
  display: inline-block;
  margin: 9px 0;
  padding: 18px 35px;
  border: 1px solid white;
  background-color: #333;
  color: white;
  text-decoration: none;
}

#section-a {
	background-color: white;
	padding: 0 0 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.content-title {
	margin: 0;
	padding: 26px 0;
}

.content-text p{
	margin: 0;
}

.content-text {
	columns: 2;
	column-width: 100px;
	column-gap: 22px;
}